:root {
   --cor-de-fundo: #090909; 
}

body {
    background-color: var(--cor-de-fundo);
    color:rgb(250, 252, 253);
    margin: 2px;
    margin-bottom: 100;
    font-family: "chakra petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(150, 192, 247);
    padding: 20px;
    font-size: 32px;
    color: rgb(136, 182, 242);
}

.chamada {
    background: rgb(3, 231, 26);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

p {
    font-size:35px ;
}

.container {
    font-size: 40;
    font-weight: 200px;
}

.chamada-texto {
    padding-left: 23;
}

h1 {
    font-size: 30;
}

.categoria-musica-favorita {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria-musica-favorita img {
    opacity: 1.1;
    height: 100px;
}

.categoria-musica-favorita img:hover {
    opacity: 1.1;
    border: 3px solid green;
}