:root {
   --cor-de-fundo: #090909; 
}

body {
    background-color: var(--cor-de-fundo);
    color:rgb(250, 252, 253);
    margin: 2px;
    margin-bottom: 100;
    font-family: "chakra petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(150, 192, 247);
    padding: 20px;
    font-size: 32px;
    color: rgb(136, 182, 242);
}

.cabeçalho {
    display: flex;
    padding-top: 23px;
    padding-right: 23px;
}

.chamada {
    font-size: 32;
}


.container {
    font-size: 40;
    font-weight: 200px;
}

h1 {
    padding-left: 34%;
    font-size: 30px;
}

p {
    font-size:35px ;
}

.chamada-texto {
    background-color: rgb(3, 161, 3);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: left;
}

h2 {
    margin-top: 10px;
}

.categoria-musicas-favorita {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

