:root {
   --cor-de-fundo: #f2f8fa; 
}

body {
    background-color: var(--cor-de-fundo);
}

header {
    border-bottom: solid 2px rgb(150, 192, 247);
    padding: 20px;
    font-size: 32px;
    color: rgb(136, 182, 242);
}

p {
    font-size:35px ;
}
